<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <img src="img/foto baugs.jpg" alt="zulfan", class="img-thumbnail" width="250px">
            <h1 class="display-4">Muhamad Zulfan</h1>
            <p class="lead">Student | Web Developer</p>
        </div>
    </div>
</div>
<br>
<div class="container text-center kerjaan">
    <img src="img/foto baugs.jpg" alt="zulfan", class="img-thumbnail" width="150px">
    <img src="img/foto baugs.jpg" alt="zulfan", class="img-thumbnail" width="150px">
    <img src="img/foto baugs.jpg" alt="zulfan", class="img-thumbnail" width="150px">
</div>
<br>
<div class="container-fixed text-center">
    <p>Halo nama saya muhamad zulfan taqiyudin baehaki, saya merupakan seorang mahasiswa dari UIN Syarif Hidayatullah Jakarta</p>
</div>